<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <title>Home Page</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
  <div>
    <nav>
      <div class="nav-wrapper grey darken-3">
        <div class="nav-wrapper container">
          <a href="/" class="brand-logo">
            <img id='logo' src='Images/Leaf & Go.png' alt='logo'>
          </a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/product">About</a></li>
            <li><a href="/product">Shop</a></li>
            <li><a href="/search"><i class="material-icons">search</i></a></li>
            <li><a href="/checkout"><i class="material-icons">shopping_cart</i></a></li>

          </ul>
        </div>
      </div>
    </nav>

  </div>
  {{{body}}}


</body>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>

</html>