<div class="banner">
    <h2 class="page-title">Blog</h2>
  </div>
  <br>
  <div class="blog-post">
  <h2 class="headline-blog">Is Marijuana Legal in your state?</h2>
  </div>
  <div class="blog-post">
  <img src="https://amp.businessinsider.com/images/5cf7dd4911e205133b76100f-1136-852.jpg" alt="Marijuana Legalization Map" id="legal-map">
  </div>
  
  <div class="blog-post">
  <h2 class="headline-blog">Did you know...</h2>
  <div class="card blog-card" style="width: 18rem;">
    <img src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/medical_marijuana_other/650x350_medical_marijuana_other.jpg" class="card-img-top" alt="Medical Marijuana FAQ">
    <div class="card-body">
      <h5 class="card-title">Medical Marijuana FAQ</h5>
      <p class="card-text">More than half of U.S. states and the District of Columbia have legalized medical marijuana in some form, and more are considering bills to do the same. </p>
      <a href="https://www.webmd.com/a-to-z-guides/medical-marijuana-faq" class="btn btn-primary">View Full Article</a>
    </div>
  </div>
  <div class="card blog-card" style="width: 18rem;">
    <img src="https://i.ytimg.com/vi/XunDqv6RWYc/maxresdefault.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">US lawmakers look to legalize pot</h5>
      <p class="card-text">U.S. lawmakers weighed reforming pot laws in what advocates called a “historic” hearing Wednesday, with numerous members of Congress saying they wanted to loosen federal laws, even legalize marijuana.</p>
      <a href="https://www.cnbc.com/2019/07/10/us-lawmakers-look-to-legalize-pot-in-historic-marijuana-reform-hearing.html" class="btn btn-primary">View Full Article</a>
    </div>
  </div>
  <div class="card blog-card" style="width: 18rem;">
    <img src="https://thumbor.forbes.com/thumbor/960x0/https%3A%2F%2Fblogs-images.forbes.com%2Ftomangell%2Ffiles%2F2017%2F12%2FMoney-3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Marijuana Banking Bill Approved By Congressional Committee</h5>
      <p class="card-text">A congressional committee voted on Thursday to approve legislation aimed at increasing marijuana businesses' access to banks.</p>
      <a href="https://www.forbes.com/sites/tomangell/2019/03/28/marijuana-banking-bill-approved-by-congressional-committee/#6f89e9b22ce1" class="btn btn-primary">View Full Article</a>
    </div>
  </div>
  
  </div>