<div class="checkout">
    <h3 class="table-name">Checkout</h3>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
     {{#each purchased}}
        <tr>
            
            <td>{{this.name}}</td>
            
           
            <td>{{this.price}}</td>
            
        </tr>
    {{/each}}
  </tbody>
</table>

<div class="total">
    <p>Total: </p>

</div>

<button type="button" class="btn btn-primary checkout-btn">Checkout</button>

  </div>