<<<<<<< HEAD
{{!-- <h1>This is the checkout page</h1> --}}
<h2>Did You Get Everything You Need?</h2>

<div class="rs-signin-returningcustomer">
    <div class="column large-5 small-12 as-signin-returningcustomer as-signin-divider">
<form novalidate = "true" data-trigger-return="click #signin-button-submit" data-recon-submit="signIn, preventSubmit,loginHome.customerLogin,signIn" id="signin-form-fields" autocomplete="off" action="#" method="POST">
    <fieldset></fieldset>
</form>
    </div>
</div>

{{!-- <form id="checkout" class="button-size"> --}}
	{{!-- <textarea type="text" name="checkout"></textarea> --}}
	{{!-- <button type="button">Checkout</button> --}}
{{!-- </form> --}}
=======
<div class="checkout">
    <h3 class="table-name">Checkout</h3>
    <table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Quantity</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
     {{#each purchased-strain}}
        <tr>
            
            <td>{{this.name}}</td>
            
           
            <td>{{this.price}}</td>
            
        </tr>
    {{/each}}
  </tbody>
</table>

<div class="total">
    <p>Total: </p>

</div>

<button type="button" class="btn btn-primary checkout-btn">Checkout</button>

  </div>
>>>>>>> ff96f56f942afba1895b1939ec9685ad3306bea9
