<div class="parallax-container amber lighten-5">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center  light-green-text text-lighten-2">Welcome!</h1>
      <div class="row center">
        <h5 class="header col s12 light grey-text text-darken-2">Need some inspiration? See our Featured Products</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light  light-green lighten-2">Featured
        </a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="Images/Plant1.jpg" alt="Plant 1"></div>
</div>
<div class='container grey-text text-darken-2'>
  <h4>About Us</h4>
<<<<<<< HEAD
We Are High, How Are You? Colorado best and favorite marijuana cultivation and dispensaries. We provide one of the best varieties of marijuana strains known ever. WE ONLY SELL THE BEST. We ensure the finest quality product that is fully tested and safe, served up by the best staff who love what they do.
We offer weekly specials. It is our goal as a company and family to provide every customer with an outstanding experience. It is our priviledge to provide you with the best cannabis to offer. Hope you visit soon.  
</div>
=======
  We Are High, How Are You? Colorado best and favorite marijuana cultivation and dispensaries. We provide one of the best varieties of marijuana strains known ever. WE ONLY SELL THE BEST. We ensure the finest quality product that is fully tested and safe, served up by the best staff who love what they do.
We offer weekly specials. It is our goal as a company and family to provide every customer with an outstanding experience. It is our priviledge to provide you with the best cannabis to offer. Hope you visit soon.
>>>>>>> 3552db987534123b411383403db005d371a645d5
</div>
<div class="parallax-container amber lighten-5">
  <div class="parallax"><img src="#"></div>
</div>
<div class='container grey-text text-darken-2'>
  <h4>Contact Us</h4>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vel ut est incidunt, omnis modi labore fugit, id
  officia ratione et cupiditate. Hic dignissimos repudiandae quae mollitia omnis possimus porro sequi, in fugit quasi
  accusamus, facilis sunt velit! Nesciunt non architecto minima illo asperiores voluptatum quidem officia harum aperiam
  minus?
</div>
<div class="parallax-container amber lighten-5">
  <div class="parallax"><img src="#"></div>
</div>