<div class="box-right">
  <h3>Age Verification</h3>
  <p>Please verify you are above the age of 21</p>

  <a href="#" class="btn btn-alpha" id="refresh-page">YES</a>

  <p class="decor-line"><span>Or</span></p>

  <a href="#" class="btn btn-beta" id="reset-session">NO</a>
  <br>

  <small>Always enjoy responsibily.</small>
</div>
<div class="content">
  <div class="parallax-container">

    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center white-text">High, How Are You?</h1>
        <div class="row center">
          <h4 class="header col s12 light white-text">Click below to shop now!</h4>
        </div>
        <div class="row center">
          <a href="/product" id="download-button" class="btn-large waves-effect waves-light light-green lighten-2">Shop
          </a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax"><img src="./images/Plant1.jpg" alt="Plant 1"></div>
  </div>
  <div class='container grey-text text-darken-2 parallax-text'>
    <h4>About Us</h4>
    <p>We Are High, How Are You? Colorado best and favorite marijuana cultivation and dispensaries. We provide one of
      the
      best varieties of marijuana strains known ever. WE ONLY SELL THE BEST. We ensure the finest quality product that
      is
      fully tested and safe, served up by the best staff who love what they do.
      We offer weekly specials. It is our goal as a comany and family to provide every customer with an outstanding
      experience. It is our priviledge to provide you with the best cannabis to offer. Hope you visit soon.
    </p>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="./images/leaf-table.jpg"></div>
  </div>
  <div class='container grey-text text-darken-2 parallax-text'>
    <h4>Contact Us</h4>
    <p>We are located in sunny Denver, CO.</p>

    <p>3120 Sampson Street
      <br>Aurora, CO 80014</p>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="./images/product.jpg"></div>
  </div>
</div>


<script>
  $(document).ready(function () {
    $('.parallax').parallax();
  });
</script>