<div class="parallax-container amber lighten-5">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center  light-green-text text-lighten-2">Welcome!</h1>
      <div class="row center">
        <h5 class="header col s12 light grey-text text-darken-2">Need some inspiration? See our Featured Products</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light  light-green lighten-2">Featured
        </a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img src="Images/Plant1.jpg" alt="Plant 1"></div>
</div>
<div class='container grey-text text-darken-2'>
  <h4>About Us</h4>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex fuga veniam neque quae delectus velit nihil quisquam
  maiores saepe praesentium? Fugiat recusandae itaque repudiandae, odit non molestias eveniet iusto cumque consequuntur
  sint dolor cupiditate error dolore aperiam eum corrupti voluptas hic autem mollitia quibusdam vel, quia quasi maxime
  dolores. Consequatur blanditiis possimus ab aut sapiente unde quis? Quidem non architecto aliquid nobis iste mollitia
  excepturi asperiores fugiat? Error, incidunt hic aspernatur magni facilis architecto autem iusto commodi perspiciatis
  veritatis quod eius pariatur dolor, nisi culpa! Temporibus libero minus quisquam, ipsam aliquam, corporis, voluptas
  illum quidem error eligendi nulla delectus placeat?
</div>
<div class="parallax-container amber lighten-5">
  <div class="parallax"><img src="#"></div>
</div>
<div class='container grey-text text-darken-2'>
  <h4>Contact Us</h4>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem vel ut est incidunt, omnis modi labore fugit, id
  officia ratione et cupiditate. Hic dignissimos repudiandae quae mollitia omnis possimus porro sequi, in fugit quasi
  accusamus, facilis sunt velit! Nesciunt non architecto minima illo asperiores voluptatum quidem officia harum aperiam
  minus?
</div>
<div class="parallax-container amber lighten-5">
  <div class="parallax"><img src="#"></div>
</div>