.list-group-item {
  line-height: 2.5;
}

.login {
  width: 500px;
  border: 2px solid black;
  padding: 15px;
  position: absolute;
  right: 32%;
  top: 40%;
}

#logo {
  width: 20px;
  length: 20px;
}
